*{
    font-family: 'Fredoka', sans-serif;
}

i{
    font-size: 1.2rem !important;
}

.icon-1,
.font-1{
    font-size: 1rem !important;
}
.icon-1-25,
.font-1-25{
    font-size: 1.25rem !important;
}
.icon-1-5,
.font-1-5{
    font-size: 1.5rem !important;
}
.icon-1-75,
.font-1-75{
    font-size: 1.75rem !important;
}
.icon-2,
.font-2{
    font-size: 2rem !important;
}