*{
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-size: 18pt !important;
}
h2{
    font-size: 16pt !important;
}
h3{
    font-size: 14pt !important;
}
h4{
    font-size: 12pt !important;
}
h5{
    font-size: 10pt !important;
}
h6{
    font-size: 8pt !important;
}

i{
    font-size: 1.2rem !important;
}

.icon-1,
.font-1{
    font-size: 1rem !important;
}
.icon-1-25,
.font-1-25{
    font-size: 1.25rem !important;
}
.icon-1-5,
.font-1-5{
    font-size: 1.5rem !important;
}
.icon-1-75,
.font-1-75{
    font-size: 1.75rem !important;
}
.icon-2,
.font-2{
    font-size: 2rem !important;
}