.h-auto{
    height: auto !important;
}
/* min porcentagem */
.min-h-1{
    min-height: 10% !important;
}
.min-h-2{
    min-height: 20% !important;
}
.min-h-3{
    min-height: 30% !important;
}
.min-h-4{
    min-height: 40% !important;
}
.min-h-5{
    min-height: 50% !important;
}
.min-h-6{
    min-height: 60% !important;
}
.min-h-7{
    min-height: 70% !important;
}
.min-h-8{
    min-height: 80% !important;
}
.min-h-9{
    min-height: 90% !important;
}
.min-h-10{
    min-height: 100% !important;
}

/* normal porcentagem */
.h-1{
    height: 10% !important;
}
.h-2{
    height: 20% !important;
}
.h-3{
    height: 30% !important;
}
.h-4{
    height: 40% !important;
}
.h-5{
    height: 50% !important;
}
.h-6{
    height: 60% !important;
}
.h-7{
    height: 70% !important;
}
.h-8{
    height: 80% !important;
}
.h-9{
    height: 90% !important;
}
.h-10{
    height: 100% !important;
}

/* max porcentagem */
.max-h-1{
    max-height: 10% !important;
}
.max-h-2{
    max-height: 20% !important;
}
.max-h-3{
    max-height: 30% !important;
}
.max-h-4{
    max-height: 40% !important;
}
.max-h-5{
    max-height: 50% !important;
}
.max-h-6{
    max-height: 60% !important;
}
.max-h-7{
    max-height: 70% !important;
}
.max-h-8{
    max-height: 80% !important;
}
.max-h-9{
    max-height: 90% !important;
}
.max-h-10{
    max-height: 100% !important;
}

/* min view height */
.min-vh-h-1{
    min-height: 10vh !important;
}
.min-vh-h-2{
    min-height: 20vh !important;
}
.min-vh-h-3{
    min-height: 30vh !important;
}
.min-vh-h-4{
    min-height: 40vh !important;
}
.min-vh-h-5{
    min-height: 50vh !important;
}
.min-vh-h-6{
    min-height: 60vh !important;
}
.min-vh-h-7{
    min-height: 70vh !important;
}
.min-vh-h-8{
    min-height: 80vh !important;
}
.min-vh-h-85{
    min-height: 85vh !important;
}
.min-vh-h-9{
    min-height: 90vh !important;
}
.min-vh-h-10{
    min-height: 100vh !important;
}

/* normal porcentagem */
.vh-h-1{
    height: 10vh !important;
}
.vh-h-2{
    height: 20vh !important;
}
.vh-h-3{
    height: 30vh !important;
}
.vh-h-4{
    height: 40vh !important;
}
.vh-h-5{
    height: 50vh !important;
}
.vh-h-6{
    height: 60vh !important;
}
.vh-h-7{
    height: 70vh !important;
}
.vh-h-8{
    height: 80vh !important;
}
.vh-h-9{
    height: 90vh !important;
}
.vh-h-10{
    height: 100vh !important;
}

/* max porcentagem */
.max-vh-h-1{
    max-height: 10vh !important;
}
.max-vh-h-2{
    max-height: 20vh !important;
}
.max-vh-h-3{
    max-height: 30vh !important;
}
.max-vh-h-4{
    max-height: 40vh !important;
}
.max-vh-h-5{
    max-height: 50vh !important;
}
.max-vh-h-6{
    max-height: 60vh !important;
}
.max-vh-h-7{
    max-height: 70vh !important;
}
.max-vh-h-8{
    max-height: 80vh !important;
}
.max-vh-h-9{
    max-height: 90vh !important;
}
.max-vh-h-10{
    max-height: 100vh !important;
}
