.w-auto{
    width: auto !important;
}
/* min porcentagem */
.min-w-1{
    min-width: 10% !important;
}
.min-w-2{
    min-width: 20% !important;
}
.min-w-3{
    min-width: 30% !important;
}
.min-w-4{
    min-width: 40% !important;
}
.min-w-5{
    min-width: 50% !important;
}
.min-w-6{
    min-width: 60% !important;
}
.min-w-7{
    min-width: 70% !important;
}
.min-w-8{
    min-width: 80% !important;
}
.min-w-9{
    min-width: 90% !important;
}
.min-w-10{
    min-width: 100% !important;
}

/* normal porcentagem */
.w-1{
    width: 10% !important;
}
.w-2{
    width: 20% !important;
}
.w-3{
    width: 30% !important;
}
.w-4{
    width: 40% !important;
}
.w-5{
    width: 50% !important;
}
.w-6{
    width: 60% !important;
}
.w-7{
    width: 70% !important;
}
.w-8{
    width: 80% !important;
}
.w-9{
    width: 90% !important;
}
.w-10{
    width: 100% !important;
}

/* max porcentagem */
.max-w-1{
    max-width: 10% !important;
}
.max-w-2{
    max-width: 20% !important;
}
.max-w-3{
    max-width: 30% !important;
}
.max-w-4{
    max-width: 40% !important;
}
.max-w-5{
    max-width: 50% !important;
}
.max-w-6{
    max-width: 60% !important;
}
.max-w-7{
    max-width: 70% !important;
}
.max-w-8{
    max-width: 80% !important;
}
.max-w-9{
    max-width: 90% !important;
}
.max-w-10{
    max-width: 100% !important;
}

/* min view width */
.min-vw-w-1{
    min-width: 10vw !important;
}
.min-vw-w-2{
    min-width: 20vw !important;
}
.min-vw-w-3{
    min-width: 30vw !important;
}
.min-vw-w-4{
    min-width: 40vw !important;
}
.min-vw-w-5{
    min-width: 50vw !important;
}
.min-vw-w-6{
    min-width: 60vw !important;
}
.min-vw-w-7{
    min-width: 70vw !important;
}
.min-vw-w-8{
    min-width: 80vw !important;
}
.min-vw-w-9{
    min-width: 90vw !important;
}
.min-vw-w-10{
    min-width: 100vw !important;
}

/* normal porcentagem */
.vw-w-1{
    width: 10vw !important;
}
.vw-w-2{
    width: 20vw !important;
}
.vw-w-3{
    width: 30vw !important;
}
.vw-w-4{
    width: 40vw !important;
}
.vw-w-5{
    width: 50vw !important;
}
.vw-w-6{
    width: 60vw !important;
}
.vw-w-7{
    width: 70vw !important;
}
.vw-w-8{
    width: 80vw !important;
}
.vw-w-9{
    width: 90vw !important;
}
.vw-w-10{
    width: 100vw !important;
}

/* max porcentagem */
.max-vw-w-1{
    max-width: 10vw !important;
}
.max-vw-w-2{
    max-width: 20vw !important;
}
.max-vw-w-3{
    max-width: 30vw !important;
}
.max-vw-w-4{
    max-width: 40vw !important;
}
.max-vw-w-5{
    max-width: 50vw !important;
}
.max-vw-w-6{
    max-width: 60vw !important;
}
.max-vw-w-7{
    max-width: 70vw !important;
}
.max-vw-w-8{
    max-width: 80vw !important;
}
.max-vw-w-9{
    max-width: 90vw !important;
}
.max-vw-w-10{
    max-width: 100vw !important;
}
